<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- <head background-color: #4952B7>
    <title>Movie Description</title>
    <link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet">
</head>
<body >


<div class="navbar">
  <a href="#temp">Movie Finder</a>

</div>

<img class="photo" src="{{ user_image }}" height="350px" width="200px">

</body> -->
<head>
  <title>FindMyMovie! </title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}" />

</head>
<body onload="runner">
  <!-- navbar -->

  <ul class="nav">
    <li align="center">
      <img class="image" src="{{ url_for('static', filename='images/icon.png') }}" width="60" height="60" /><a class="a_nav" href="/">Find My Movie</a>
    </li>

  </ul><br />

  <form align="center" action = "/" method="POST">
    <div id="clock"></div>

    <img src="{{ url_for('static', filename='images/spot.png') }}" width="30%" height="30%">
    <!-- Search bar -->
    <p>Hover to search</p>
    <div class="cntr-innr">
      <label class="search" for="inpt_search"><input name="inpt_search" id="inpt_search" type="text"/></label>
    </div><input class="ripple" type="submit" name="sub" href="/movie"/>
  </form>


<script type="text/javascript">


    function runner(){
        console.log(document.getElementById("inpt_search").value)
        location.href='/movie';
      }



</script>
</body>
</html>
